@charset "utf-8";

/**
 * This stylesheet contains both general
 * and certain module specific selectors.
 * You should edit the colors to suit your
 * theme. You can also override their module
 * provided default styles like font-size,
 * margin and padding.
 *
 * If you need to look up the default styles
 * of a selector, please refer to:
 * /application/css/default.css
 */

/* News pagination link states */
#news_pagination a, #messages_pagination a {
	margin:0px;
	display:block;
}

.location {
	border:1px solid #0E171E;
	background-color:rgba(7,14,18,0.8);
}

.location_name {
	color:#CF9139;
}

.location:hover {
	background-color:rgba(7,14,18,1);
}

/* Slider text bar */
.caption {
	background-color:rgba(0,0,0,0.6);
	color:#fff;
	margin: 0px 0px 10px 0px;
}

#slider_next,
#slider_previous {
	position: absolute;
	height: 80px;
	width: 50px;
	padding: 0px;
	border-radius: 0px;
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
}

#slider_next{
	background-image: url(../images/slider-next.png);
    transition:0.3s all;
    -webkit-transition:0.3s all;
    -moz-transition:0.3s all;
    -ms-transition:0.3s all;
    -o-transition:0.3s all;
}

#slider_previous{
	background-image: url(../images/slider-previous.png);
    transition:0.3s all;
    -webkit-transition:0.3s all;
    -moz-transition:0.3s all;
    -ms-transition:0.3s all;
    -o-transition:0.3s all;
}

#slider_next:hover,
#slider_previous:hover {
   background-color: transparent;
   background-position: left bottom;
}

.arrow_custom {
   width: 175px;
   overflow: hidden;
   background: url(../images/arrow_custom.jpg) no-repeat right #0b0b0b;
   border: 1px solid #313131;
   -moz-border-radius-topleft: 2px;
   -moz-border-radius-topright:2px;
   -moz-border-radius-bottomleft:2px;
   -moz-border-radius-bottomright:2px;
   -webkit-border-top-left-radius:2px;
   -webkit-border-top-right-radius:2px;
   -webkit-border-bottom-left-radius:2px;
   -webkit-border-bottom-right-radius:2px;
   border-top-left-radius:2px;
   border-top-right-radius:2px;
   border-bottom-left-radius:2px;
   border-bottom-right-radius:2px;
   -webkit-transition: all 300ms;
   -moz-transition: all 300ms;
   -o-transition: all 300ms;
   -ms-transition: all 300ms;
   transition: all 300ms;
}

.arrow_custom:hover {
	-moz-box-shadow: 0px 0px 9px #040902;
	-webkit-box-shadow: 0px 0px 9px #040902;
	box-shadow: 0px 0px 9px #040902;
	border: 1px solid #696767
}

.arrow_custom select{
   background: url(../images/arrow_custom.jpg) no-repeat right #0b0b0b;
   border: 1px solid #313131;
   width: 160px;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
}

.arrow_custom select:focus {
    background: url(../images/arrow_custom_hover.jpg) no-repeat right #0b0b0b;
}


/* News comments styles */
.staff_comment .comment_author {
	color:#00B4FF !important;
}

.comment, .message_box {
	width:345px !important;
	border:1px solid #0e171e !important;
	background-color:#070e12 !important;
	color:inherit !important;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}

.comment a img, .message_box a img {
	border:1px solid #000 !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
}

.comment_author:hover, .message_box_author:hover {
	color:#fff !important;
}

.comment_date, .message_box_date {
	color:#666;
}

/* Comments and shoutbox: characters remaining indicator text */
.characters_remaining {
	color:#666;
}

#poll_answers .poll_answer {
	margin-left:10px;
}

/* Modal boxes: alert & confirm */
.popup {
	background-color:#333333;
	border:1px solid #6B6B6B;
	box-shadow:0px 0px 35px #000;
	-webkit-box-shadow:0px 0px 35px #000;
	-moz-box-shadow:0px 0px 35px #000;
}

.popup a {
	color: #000000;
}

.popup a:hover {
	color:#FFFFFF;
}

.popup_button {
	background-color: #BF9F4D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
	background-image: -webkit-linear-gradient(top, #F5C221, #BD7519);
	background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: linear-gradient(top, #7fbf4d, #63a62f);
	border: 1px solid #FFC225;
	border-bottom: 1px solid #D69522;
	-webkit-box-shadow: inset 0 1px 0 0 #F0C724;
	-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
	-ms-box-shadow: inset 0 1px 0 0 #96ca6d;
	-o-box-shadow: inset 0 1px 0 0 #96ca6d;
	box-shadow: inset 0 1px 0 0 #FFD67E;
	text-shadow: 0 -1px 0 #4c9021;
}

.popup_button:hover {
	 background-color: #BF9F4D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
	background-image: -webkit-linear-gradient(top, #F5C221, #BD7519);
	background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: linear-gradient(top, #7fbf4d, #63a62f);
	border: 1px solid #FFC225;
	border-bottom: 1px solid #D69522;
	-webkit-box-shadow: inset 0 1px 0 0 #F0C724;
	-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
	-ms-box-shadow: inset 0 1px 0 0 #96ca6d;
	-o-box-shadow: inset 0 1px 0 0 #96ca6d;
	box-shadow: inset 0 1px 0 0 #FFD67E;
	text-shadow: 0 -1px 0 #4c9021;
}

.popup_button:active {
	border: 1px solid #A27211;
    -webkit-box-shadow: inset 0 0 8px 4px #8D6B29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #8D6B29, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 4px #8D6B29, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #8D6B29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #8D6B29, 0 1px 0 0 #eeeeee;
}

.popup_hide {
	background-color: #bfbfbf;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(100%, #9a9a9a));
	background-image: -webkit-linear-gradient(top, #bfbfbf, #9a9a9a);
	background-image: -moz-linear-gradient(top, #bfbfbf, #9a9a9a);
	background-image: -ms-linear-gradient(top, #bfbfbf, #9a9a9a);
	background-image: -o-linear-gradient(top, #bfbfbf, #9a9a9a);
	background-image: linear-gradient(top, #bfbfbf, #9a9a9a);
	border: 1px solid #9a9a9a;
	border-bottom: 1px solid #9a9a9a;
	-webkit-box-shadow: inset 0 1px 0 0 #cbcbcb;
	-moz-box-shadow: inset 0 1px 0 0 #cbcbcb;
	-ms-box-shadow: inset 0 1px 0 0 #cbcbcb;
	-o-box-shadow: inset 0 1px 0 0 #cbcbcb;
	box-shadow: inset 0 1px 0 0 #cbcbcb;
	text-shadow: 0 -1px 0 #8f8f8f;
}

.popup_hide:hover {
	background-color: #adadad;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #adadad), color-stop(100%, #a0a0a0));
    background-image: -webkit-linear-gradient(top, #adadad, #a0a0a0);
    background-image: -moz-linear-gradient(top, #adadad, #a0a0a0);
    background-image: -ms-linear-gradient(top, #adadad, #a0a0a0);
    background-image: -o-linear-gradient(top, #adadad, #a0a0a0);
    background-image: linear-gradient(top, #adadad, #a0a0a0);
    -webkit-box-shadow: inset 0 1px 0 0 #bbbbbb;
    -moz-box-shadow: inset 0 1px 0 0 #bbbbbb;
    -ms-box-shadow: inset 0 1px 0 0 #bbbbbb;
    -o-box-shadow: inset 0 1px 0 0 #bbbbbb;
    box-shadow: inset 0 1px 0 0 #bbbbbb;
}

.popup_hide:active {
	border: 1px solid #a0a0a0;
    border-bottom: 1px solid #8b8b8b;
    -webkit-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
}

#popup_bg {
	background-color:#000;
}

/* Tooltip */
#tooltip, .tooltip {
	padding: 7px;
	background-color: rgba(15, 15, 15, 0.9);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #353837;
	-moz-box-shadow: #000 0 0 15px;
	-webkit-box-shadow: #000 0 0 15px;
	box-shadow: #000 0 0 15px;
	color: #fff;
	font-size: 12px;
	line-height:1.5;
	max-width: 600px;
}

/* Form fields */
textarea {
	padding:8px;
	color:#8A8A8A;
	background-image:url(../images/txtarea.png);
	border:1px solid #2d6c12;
	font-family:Myriad Pro;
	font-size:13px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}

select {
	font-family:Myriad Pro;
	font-size:13px;
	width:80%;
	padding:8px;
	color:#040902;
	background-color:#1D130D;
	background-image:url(../images/txtarea.png);
	border:1px solid #876552;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}


input[type="text"],
input[type="password"],
input[type="email"]
{
	font-family:Myriad Pro;
	font-size:13px;
	width:80%;
	padding:8px;
	color:#040902;
	background-image:url(../images/txtarea.png);
    border:1px solid #2d6c12;
    border-top-color:#2d6c12;
    border-radius:3px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	margin:5px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	color:#fff;
	-moz-box-shadow: 0px 0px 9px #4b4b4b;
	-webkit-box-shadow: 0px 0px 9px #4b4b4b;
	box-shadow: 0px 0px 9px #4b4b4b;
	border: 1px solid #696767;
}

/* Full-page styles (log in, register etc.) */
.page_form input[type="submit"] {
	padding-left:20px;
	padding-right:20px;
	margin-top:20px;
}

.avatar, #ucp_avatar, .store_item .item_icon {
	border:1px solid #000;
	margin-right:10px;
}

.ucp_divider {
	background-image:url(../images/divider.png);
	background-repeat:no-repeat;
	height:25px;
}

.vertical_divider {
	background-image:url(../images/vertical_divider.png);
	background-repeat:no-repeat;
	height:424px;
	width:33px;
}

#armory {
	margin-left:-5px !important;
}

/* First column in the #ucp_info */
#ucp_info aside:first-child {
	border-right:1px solid #0E171E;
}

#ucp_info aside:nth-child(3) {
	border-left:1px solid #0E171E;
}


#ucp_info aside:last-child {
	border-right:none !important;
}

/* Second <td> of each row */
#ucp_info td:nth-child(2) {
	font-weight:bold;
}

#ucp_buttons a {
	border:1px solid #000;

}

/* UCP: character list, character */
#ucp_characters a {
	border:1px solid #000;
}

/* =========== CMS: realm status =========== */
#left .realm {
	color:#a07332;
	font-size:14px;
}

#left .realm .realm_online {
	color:#a9a9a9;
	float:right;
	font-size:13px;
}

#left .realm .realm_bar, .poll_bar {
	height:13px;
	border:1px solid #171717;
	background-color:#000000;
	border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	margin-top:10px;
	margin-bottom:20px;
}

#left .realm .realm_bar .realm_bar_fill, .poll_bar_fill {
	border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
	background-image:url(../images/realm_bar.png);
	height:9px;
	margin-top:2px;
	margin-left:2px;
}

#left #realmlist {
	border:1px solid #171717;
	border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#000000;
	padding:5px;
	text-align:center;
	color:#a07332;
	font-size:13px;
}

/* Online players bar and realm bar (used on UCP, profiles) */
.online_realm_button, #ucp_characters h1 {
	background-image:url(../images/button_bg.png);
	height:21px;
	color:#616c72;
    border: 1px solid #170e00;
	box-shadow:1px 1px 0px #020508;
	text-shadow:1px 1px 0px #000;
	padding:8px;
	margin-top:5px !important;
    -webkit-transition: all 300ms;
   -moz-transition: all 300ms;
   -o-transition: all 300ms;
   -ms-transition: all 300ms;
   transition: all 300ms;
}

.online_realm_button:hover {
	background-position:0px 37px;
    color:#fdfdfd;
    -moz-box-shadow: 0px 0px 9px #040902;
	-webkit-box-shadow: 0px 0px 9px #040902;
	box-shadow: 0px 0px 9px #040902;
    border: 1px solid #696767;
}

.online_realm_button:active {
	box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
	-webkit-box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
	-moz-box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
	-ms-box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
	-o-box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
}

#ucp_info td {
	font-size:10px;
}

/* Table style, used on vote panel, donate panel, online players etc. */
.nice_table tr:first-child td {
	border-bottom:1px solid #0e171e;
	color:#A07332;
	font-weight:normal;
}

.nice_table tr:first-child td a {
	color:#A07332;
}

.nice_table td {
	vertical-align: middle;
}


/* =========== CMS: shout box =========== */
#left #shoutbox textarea {
	width:92%;
	max-width:92%;
	height:20px;
}

#left #shoutbox .shout_characters_remaining {
	font-size:10px;
	margin-top:12px;
	margin-left:1px;
}

#left #shoutbox #shoutbox_submit {
	float:right;
	padding-left:20px;
	padding-right:20px;
}

#left #the_shouts .shout {
	border-bottom:1px #171717;
	border-top:1px solid rgba(0,0,0,0.9);
	padding:10px;
	color:#a9a9a9;
}

#left #the_shouts .shout:first-child {
	border-top:none;
}

#left #the_shouts .shout:last-child {
	border-bottom:none;
}

#left #the_shouts .shout_date {
	float:right;
	font-size:10px;
}

#left #the_shouts .shout_author a {
	color:#824F15;
}

#left #the_shouts .shout_staff a {
	color:#F0A300;
}

#left #shoutbox #shoutbox_view {
	text-align:center;
	padding-top:10px;
}

#left #shoutbox #shoutbox_view a {
	font-size:14px;
}

/* PvP ladder sidebox */
.toppvp_select {
	border-bottom:1px solid #171717;
	margin-top:5px;
}

.toppvp_realm {
	width:255px !important; /* Width of the button - should be whole sidebox */
}

.toppvp_character {
	border-bottom:1px solid #171717;
	border-top:1px solid rgba(0,0,0,0.9);
	padding:10px;
	color:#040902;
}

.toppvp_character:first-child {
	border-top:1px solid rgba(0,0,0,0.9);
}

.toppvp_character:last-child {
	border-bottom:none;
}

/* FusionEditor WYSIWYG field */
.fusioneditor .fusioneditor_tools {
	color:#040902 !important;
	border-bottom:none !important;
	border:1px solid #0E171E !important;
	background-color:#070E12 !important;
}

.fusioneditor .fusioneditor_tools a:hover {
	border:1px solid #876552 !important;
	background-color:#020407 !important;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
}

.fusioneditor .fusioneditor_tools a:active {
	border:1px solid #666;
}

.fusioneditor .fusioneditor_field {
	color:#040902;
	background-color:#020407 !important;
	border:1px solid #876552 !important;
	border-top:none !important;
}

.fusioneditor .fusioneditor_field b {
	font-weight:bold;
}

.fusioneditor .fusioneditor_toolbox {
	border-top:1px solid #876552 !important;
}

.fusioneditor .fusioneditor_size {
	color:#666;
}

.fusioneditor .fusioneditor_size:hover {
	color:#fff;
}

.fusioneditor .fusioneditor_color:hover {
	border:1px solid rgba(0,0,0,0) !important;
}

.fusioneditor .fusioneditor_color:active {
	border:1px solid rgba(0,0,0,0) !important;
}

/* The pop up "autocomplete" box on private messages -> compose */
#pm_username_autocomplete {
	background-color:#0a0603 !important;
	border:1px solid #0A394B !important;
}

#pm_username_autocomplete a {
	border-bottom:1px solid #0A3748 !important;
}

#ucp_buttons {
	width:690px;
	margin-left:-8px;
}

/* Store: filter fields divider */
#store form .filter_field {
	margin-bottom:8px;
}

/* Store: item group title */
.item_group_title, .store_item {
	text-shadow:1px 1px 0px #000;
}

.item_group_title {
	margin-top:20px;
	margin-bottom:5px;
	font-size:13px;
	font-weight:bold;
	margin-left:13px;
}

/* Store: item group box */
.item_group {
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border:1px solid #130E04;
	background-color:rgba(8, 4, 1, 0.8);
	padding:0px;
}

/* Store: item */
.store_item {
	border-bottom:1px solid #130E04;
}

/* Prevent the bottom border on the last item */
.store_item:last-child {
	border-bottom:none;
}

/* Prevent the top border on the first item */
.store_item:first-child {
	border-top:none;
}

#cart_price_divider {
	border-bottom:1px solid #0E171E;
	margin-bottom:10px;
}

#armory_top h1 {
	color:#eee;
}

#avatar_page center {
	color:#fff;
}

#armory_stats td {
	font-size:12px !important;
}

#store form input[type="text"] {
	width:200px !important;
}

#change_form input[type="text"] {
	width:80% !important;
}

#sidebox_login input[type="submit"] {
	width:80%;
	margin-bottom:10px;
}